<template>
 
 <form v-on:submit="addTodo">
    <div>
        <input type="text" name="addTodo" placeholder="add todo task..." v-model="title">
    </div>
 </form>
</template>

<script>
    export default {
        name: 'AddTodo',
        data(){
            return{
                title: ''
            };
        },
        methods:{
        addTodo(e){
              e.preventDefault();
      const newTodo = {
        // id: "id", // se genera en "higher order component"
        title: this.title,
        complete: false,
      };
      this.$emit("add-todo", newTodo);
      this.title = "";
    },
        }
    }
</script>

<style>
input[type="text"]{
    padding: .8em;
    border: .5px solid #eeee;
    border-radius: .5em;
    width: 90%;
}
</style>