<template>
    <div>
        <button class="btn " v-on:click="$emit('all-todos')">All</button>
        <button class="btn " v-on:click="$emit('active-todos')">Active</button>
        <button class="btn " v-on:click="$emit('completed-todos')">Completed</button>

    </div>
</template>

<script>
    export default {
        name: 'FilterTodo',
       
    }
</script>

<style>

.btn{
    background: #FFF;
    padding: .6em;
    margin-left: 1em;
    appearance: searchfield;
    border: .2px solid darkgray;
    border-radius: .5em;
}
</style>