<template>
<div class="listado">
        <div class="round">
        <input type="checkbox" v-bind:id="todo.id" v-bind:checked="todo.complete" v-on:change="$emit('mark-complete', todo.id)"/>
        <label v-bind:for="todo.id" ></label>
    </div><label class="label">{{todo.title}} </label>
    <button class="delete" v-on:click="$emit('delete-todo', todo.id)">X</button>
    </div>
</template>

<script>
    export default {
        name: 'TodoItem',
        props: ["todo"]
    }
</script>

<style>
.listado{
display: inline-block;
position: relative;
margin-left: 2.5em;
height: 50px;
border-bottom: 1px solid #eeee;
text-align: left;

}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  left: -1.8em;
  position: absolute;
  top: 1.2em;
  width: 20px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: .2em;
  opacity: 0;
  position: absolute;
  top: .5em;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.delete{
background: none;
border: none;
}
</style>