<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/posts" >Post</router-link>  |
      <router-link to="/login" v-if="!isLoggedIn">login </router-link>
      <router-link to="/signup" v-if="!isLoggedIn">| signup</router-link>
      <a v-else @click="logout">logout</a>
    </div>
    <router-view/>
  </div>
</template>
<script>
export default {
 
   computed: {
    isLoggedIn(){
      return this.$store.getters.isLoggedIn
    }
  },
  methods: {
    logout: async function(){
       await this.$store.dispatch("logout");
      await this.$router.push("/login");
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
