* {
    --bg-color: rgb(119, 136, 153);
}

body{
    background-color: var(--bg-color);
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: rgba(255, 245, 235, .5);
    border-radius: 5px;
  }
  .two {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    background-color: rgba(255, 245, 235, .5);
    border-radius: 5px;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: rgba(255, 245, 235, .5);
    border-radius: 5px;
  }
  .four {
    grid-column: 3;
    grid-row: 3;
    background-color: rgba(255, 245, 235, .5);
    border-radius: 5px;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
    background-color: rgba(255, 245, 235, .5);
    border-radius: 5px;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    background-color: rgba(255, 245, 235, .5);
    border-radius: 5px;
  }