<template>
<div class="content">

    <div class="login">
        <h3 class="text-center">login</h3>
        <form @submit.prevent="login">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" v-model="email" placeholder="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="password" required v-model="password">
            <button type="submit">login</button>
        </form>
    </div>
</div>
</template>

<script>
    export default {
        data(){
            return{
                email: "",
                password: "",
            }
        },
        methods:{
            login:  function (){
             
                    this.$store.dispatch("login", {email: this.email, password: this.password} )
                    .then(()=>this.$router.push("/posts"))
                    .catch((err)=> console.log(err))

                    
               
            }
        }
    }
</script>
<style >
.content{
    display: flex;
    justify-content: center;
    text-align: left;
    align-items: center;
}
.login{
    background: rgba(0,0,0, 0.8);
    color: #fff;
    border-radius: .3em;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.login form {
  
    margin: 1em;
    padding: 0 2em 0 0 ;
}
.login form label{
    margin-bottom: .5em;
}
.login form input{
    padding: 1em;
    margin-top: .3em;
    margin-bottom: 2em;
    width: 100%;
    margin-right: 1em;
    background: rgba(0,0,0, 0.3);
    border: none;
    color: #fff;
}
.login form button{
    display: flex;
    bottom: unset;
    margin: .5em auto;
    padding: .3em .5em;
    background: #1565c0;
    border: none;
    color: #fff;
    font-size: 14pt;
}
</style>