<template>
    <div>
        <h1>List of posts</h1>
    <post-list v-bind:posts="posts" />
    </div>
</template>

<script>
import PostList from '../components/postList.vue';
    export default {
        components: {
                PostList
        },
        name: 'Posts',
        data(){
            return{
                posts: {},
                token: localStorage.getItem('token') || ''

            };
        },
        created(){
                 fetch('http://127.0.0.1:1323/post')
                .then(res =>  res.json())
                .then(data => this.posts = data)
           
           
        },
        method: {

    }
    }
</script>
<style>

</style>