<template>
    <div class="content">

        <div class="signup">
            <h3 class="text-center">Signup</h3>
            <form @submit.prevent="signup">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" v-model="name" placeholder="name..." required>
                <label for="lastname">Lastname:</label>
                <input type="text" id="lastname" name="lastname" v-model="lastname" placeholder="lastname..." required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" v-model="email" placeholder="email..." required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="password" required v-model="password">
                <button type="submit">signup</button>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                name: "",
                lastname: "",
                email: "",
                password: "",
            }
        },
        methods: {
            signup: function () {

                this.$store.dispatch("signup", {
                        name: this.name,
                        lastname: this.lastname,
                        email: this.email,
                        password: this.password

                    })
                    .then(() => this.$router.push("/login"))
                    .catch((err) => console.log(err))

            }
        }
    }
</script>
<style>
    .content {
        display: flex;
        justify-content: center;
        text-align: left;
        align-items: center;
    }

    .signup {
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: .3em;
        justify-content: center;
    }

    .text-center {
        text-align: center;
    }

    .signup form {

        margin: 1em;
        padding: 0 2em 0 0;
    }

    .signup form label {
        margin-bottom: .5em;
    }

    .signup form input {
        padding: 1em;
        margin-top: .3em;
        margin-bottom: 2em;
        width: 100%;
        margin-right: 1em;
        background: rgba(0, 0, 0, 0.3);
        border: none;
        color: #fff;
    }

    .signup form button {
        display: flex;
        bottom: unset;
        margin: .5em auto;
        padding: .3em .5em;
        background: #1565c0;
        border: none;
        color: #fff;
        font-size: 14pt;
    }
</style>