<template>
    <div>
        <h3>Login</h3>
        <form @submit="login">
            <button type="submit">Login</button>
        </form>
    </div>
</template>

<script>
    export default {
        methods: {
    login: async function () {
      await this.$store.dispatch("login");
      await this.$router.push('/');
    },
  },
    }
</script>

<style lang="scss" scoped>

</style>