<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Vue challenge</title>
</head>

<body>
  <a onclick="window.history.back()">Go back</a>
  <h3>Vue challenge</h3>

  <section id="root">
    <ul>
      <li>Reverse string</li>
      <li>show/hide list</li>
      <li>change button label</li>
    </ul>
    <h1>{{title}}</h1>

    <vue-tech v-if='displayList' v-for='vueTech in vueEcosystem' :tech='vueTech.technology'></vue-tech>
    <button v-on:click='reverseString'>Reverse Title</button>
    <button @click='showList'>{{buttonLabel}}</button>
  </section>

  <script>
    const app = Vue.createApp({
      data() {
        return {
          title: 'Title manage by vue',
          buttonLabel: 'show list',
          displayList: false,
          vueEcosystem: [
            { id: 1, technology: 'vue cli' },
            { id: 2, technology: 'vue devtools' },
            { id: 3, technology: 'vue router' },
            { id: 4, technology: 'vuex (state manager)' },
            { id: 5, technology: 'nuxt (server side render)' },
          ]
        }
      },
      methods: {
        reverseString() {
          this.title = this.title.split("").reverse().join("")
        },
        showList() {
          this.displayList = !this.displayList
          this.buttonLabel = (this.displayList) ? 'hide list' : 'show list'
        }
      }
    })

    app.component('vue-tech', {
      props: ['tech'],
      template: '<p>{{tech}}</p>'
    }).mount('#root')
  </script>

</body>

</html>