<template>
    <section class="listt">
        <h1 style="text-align: center">Todos</h1>
        <add-todo v-on:add-todo="addTodo" />
        <todo-list  v-bind:todos="filteredTodos" v-on:mark-complete="markComplete" v-on:delete-todo="deleteTodo"/>
        <filter-todo class="boutons" v-on:all-todos="allTodos" v-on:active-todos="activeTodos" v-on:completed-todos="completedTodos" />
    </section>
</template>

<script>
    import AddTodo from '../components/AddTodo.vue'
    import FilterTodo from '../components/FilterTodo.vue'
    import TodoList from '../components/TodoList.vue'

    export default {
        name: 'Todo',
        components: {
            AddTodo,
            TodoList,
            FilterTodo
        },
        data() {
            return {
                todos: [],
                filteredTodos: [],
                counter: 0,
            }
        },
        methods: {
            addTodo(todo) {
                todo.id = this.counter++;
                this.todos.push(todo);
                this.filteredTodos = this.todos;
            },
            markComplete(id) {
                this.todos.forEach(todo => {
                    if (todo.id === id) {
                        todo.complete = !todo.complete
                    }
                });
            },
            deleteTodo(id) {
                let index = this.todos.findIndex((el) => {
                    return el.id === id;
                });
                this.todos.splice(index, 1);
            },
            allTodos() {
                this.filteredTodos = this.todos;
            },
            activeTodos() {
                this.filteredTodos = this.todos.filter((todo) => !todo.complete);
            },
            completedTodos() {
                this.filteredTodos = this.todos.filter((todo) => todo.complete);
            },
            
        },
        created() {
            //definición de estado inicial (hidratación)
            this.todos = [{
                    id: 0,
                    title: "aprender con variables de estado en vue",
                    complete: false
                },
                {
                    id: 1,
                    title: "aprender vue con if",
                    complete: false
                },
                {
                    id: 2,
                    title: "aprender vue con for",
                    complete: false
                },
            ];
            this.counter = this.todos.length;
            this.filteredTodos = this.todos;
        },
    }
</script>

<style>
.listt{
    margin: 0 auto;
    text-align: left;
    width: 450px;
    background-color: bisque;
    padding: 1.2em;
    border-radius: .5em;
}
.boutons{
    position: relative;
    padding: 0 20%;
}
</style>