* {
  padding: 0;
  margin: 0;
  /* Color Theme Swatches in Hex */
  --CMYK_color-0-hex: #B0EDAA;
  --CMYK_color-1-hex: #B1E0DC;
  --CMYK_color-2-hex: #8ABAAD;
  --CMYK_color-3-hex: #558A7F;
  --CMYK_color-4-hex: #416F73;
  --CMYK_color-5-hex: #424D3C;

}

body {
  background-color: #FFF;
}

.wrapper>*, .container-3 > *, .container-2 > *,.wrapper-3 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;

}

.wrapper {
  height: 100vh;
  display: grid;
  grid-gap: .3em;
  grid-template-areas:
    'header'
    'aside-1'
    'section-1'
    'section-2'
    'aside-2'
    'footer'
  ;
}

@media(min-width: 700px) {
  .wrapper {
    display: grid;

    grid-template-areas:
      "header header header header"
      "aside-1 section-1 section-1 aside-2"
      "section-2 section-2 section-2 section-2"
      "section-2 section-2 section-2 section-2"
      "footer footer footer footer"
    ;
  }
}






header {
  grid-area: header;
  background-color: var(--CMYK_color-5-hex);
}

.wrapper aside:nth-child(2) {
  grid-area: aside-1;
  background-color: var(--CMYK_color-4-hex);
}

.wrapper aside:nth-child(5) {
  grid-area: aside-2;
  background-color: var(--CMYK_color-3-hex);
}

.wrapper section:nth-child(3) {
  grid-area: section-1;
  background-color: var(--CMYK_color-2-hex);
}

.wrapper section:nth-child(4) {
  grid-area: section-2;
  background-color: var(--CMYK_color-1-hex);
}

footer {
  grid-area: footer;
  background-color: var(--CMYK_color-0-hex);
}
/* container 2  */
.container-2 {
  height: 100vh;
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "a b b c c c d d d"
    "f b b g g g g g g"


  ;
}

.container-2 .grid-item:nth-child(1) {
  grid-area: a;
  background-color: var(--CMYK_color-5-hex);
}

.container-2 .grid-item:nth-child(2) {
  grid-area: b;
  background-color: var(--CMYK_color-4-hex);
}

.container-2 .grid-item:nth-child(3) {
  grid-area: c;
  background-color: var(--CMYK_color-3-hex);
}

.container-2 .grid-item:nth-child(4) {
  grid-area: d;
  background-color: var(--CMYK_color-2-hex);
}

.container-2 .grid-item:nth-child(5) {
  grid-area: f;
  background-color: var(--CMYK_color-1-hex);
}

.container-2 .grid-item:nth-child(6) {
  grid-area: g;
  background-color: var(--CMYK_color-0-hex);
}


/* container 3 */

.container-3 {
  height: 100vh;
  display: grid;
  grid-gap: .3em;
  grid-template-columns:  20% 60% 20%;
  grid-template-rows: 4fr 2fr;

}
.container-3 div{
  background-color: var(--CMYK_color-5-hex);
}
.container-3 div:nth-child(1) {
  grid-column: 1/ 2;
  grid-row: 1 / 3;
}

.container-3 div:nth-child(2) {
  grid-column: 2;
}

.container-3 div:nth-child(3) {
  grid-column: 3;
}

.container-3 div:nth-child(4) {
  grid-column: 2/4;
 
}


.wrapper-3 {
  height: 100vh;
  display: grid;
  grid-gap: .3em;
  grid-template-columns:  [left-sidebar-start]1fr [left-sidebar-end main-content-start] 2fr [main-content-end right-sidebar-start] 1fr [right-sidebar-end];
  grid-template-rows:[body-start] 4fr [body-end footer-start] 2fr [footer-end];
  
}


.left-sidebar-2{
  grid-row: body-start / footer-end ;
}

.footer-4{
  grid-column: main-content-start / right-sidebar-end;
}
.wrapper-3 > *{
  width: 100%;
  background-color: var(--CMYK_color-3-hex);
}
@media (max-width: 700px){
  .wrapper-3 {
    grid-gap: 0;
    grid-template-rows: repeat(4, 1fr);
    
  }
 .wrapper-3 div:nth-child(1){
   grid-column: 1/4;
   grid-row: 1/2;
 }
 .wrapper-3 div:nth-child(2){
  grid-column: 1/4;
  grid-row: 2 / 3;
}
 
 .wrapper-3 div:nth-child(3){ 
   grid-column: 1/4;
  grid-row: 3 /4;
}
 .wrapper-3 div:nth-child(4){ 
   grid-column: 1/4;
  grid-row:  4;
}
 
  
 
}