<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <title>Vue Router</title>
</head>

<body>
    <a onclick="window.history.back()">go back</a>
    <section id="root">
        <br>
        <router-link to="/">root</router-link>
        <router-link to="/dashboard">dashboard</router-link>
        <router-link to="/user">User</router-link>
        <router-link to="/user/3">User 3</router-link>
        <router-link to="/user/6">User 6 </router-link>
        <router-link to="/user/9">User 9</router-link>
        <router-view></router-view>
    </section>

    <script>
        const RootComponent = Vue.component('root-component', {
            template: `<div>root component ☘🌷</div>`
        })
        const DashComponent = Vue.component('root-component', {
            template: `<div>Dashboard component ☘🌷</div>`
        })
        const UserComponent = Vue.component('root-component', {
            template: `<div>User {{$route.params.id}} component ☘🌷</div>`
        })
        const router = new VueRouter({
            routes: [{
                    path: '/',
                    component: RootComponent
                },
                {
                    path: '/dashboard',
                    component: DashComponent
                },
                {
                    path: '/user/:id',
                    component: UserComponent
                },
                {
                    path: '/user',
                    component: UserComponent
                }
            ]
        })
        new Vue({
            router
        }).$mount('#root');
    </script>
</body>

</html>