<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex/dist/vuex.js"></script>
    <title>Vue Vuex</title>
</head>
<body>
    <a onclick="window.history.back()">go back</a>
    <h3>VUEX</h3>
    <section id="root">
        <p>{{countValue}} es {{evenOrOddValue}}</p>
        <button v-on:click='callIncrement'>+</button>
        <button v-on:click='callDecrement'>-</button>
        <button v-on:click='callIncrementAsync'>increment async</button>
      </section>
<script>
const store = new Vuex.Store({
    state:{
      count: 0
    },
    getters:{
        parOrImpar: (state)=>state.count % 2 ? 'impar' : 'par'
    },
    mutations: {
      increment(state, payload){
        state.count += (payload)? payload.customizedValue : 1
       
      },
      decrement(state, payload){
        state.count--
      }
    },
    actions: {
        incrementAsync({state, commit}){
            setTimeout(()=>{
                // aqui va codigo async como a API's
                commit('increment')
                // resolve()
            },3000)
        }
    }
  })


  const app = new Vue({
    el: '#root',
    computed:{
      countValue(){
        return store.state.count
      },
      evenOrOddValue(){
          return store.getters.parOrImpar
      }
    },
    methods: {
      callIncrement() {
        store.commit('increment', {customizedValue: 3})
    },
    callDecrement() {
          store.commit('decrement')
      },
      callIncrementAsync() {
          store.dispatch('incrementAsync')
      },
    }
  })

</script>
</body>
</html>