<template>
  <div id="app">
    <todo/>
  </div>
</template>

<script>
import Todo from './views/Todo.vue'


export default {
  name: 'App',
  components: {
    Todo
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
ul.list{
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    margin-block-end: 0;
    
  
}
ul.list li h3{
  text-transform: capitalize;
}


</style>
