*, 
*::after,
*::before{
padding: 0;
margin: 0;
}
html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
    grid-gap: .5em;
}
.card{
    border-radius: .5em;
    background-color: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 33px rgba(0, 0, 0, 0.5);
}
.card .imgbox{
    width: 100%;
}
.card .imgbox img{
    object-fit: cover;
    width: 100%;
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    
}
.card .card-content{
    padding: .5em .8em;
}
.card-content h3{
    text-align: end;
    padding: .2em 0;
}
.card-content p{
    text-align: center;
}
.card:hover{
  transform: scale(1.02);
}
@media (max-width: 1000px) and (min-width: 649px){
   
    .container{

        grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
    }
    .card{
        flex-direction: row;
    }
    .card .imgbox, 
    .card .card-content{
        width: 17em;
    }
    .card .imgbox img{
        border-top-right-radius: 0;    
        border-bottom-left-radius: .5em;
        height: 100%;
    }
}
@media (max-width: 648px){
    body{
        align-items: normal;
    }
    .container{

        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .card .imgbox{
        width: 100%;
    }
}
