@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    &::after, &::before{
        padding: 0;
        margin: 0;
    }
}

$font-stack: 'Roboto', sans-serif;;
html{
    font: 100% $font-stack;
    box-sizing: border-box;
}
/* Color Theme Swatches in Hex */
$padding: 1em;
$margin: 15px;
$border: 15px;
$tablet: 769px;
$coral-1: #5752D9;
$coral-2: #246B73;
$coral-3: #2B8C83;
$coral-4: #D9CB04;
$coral-5: #A68B03;
$bg-color: whitesmoke;

$color: (
    primary: $bg-color,
    primary-light: lighten($coral-3, 20%),
    primary-dark: darken($coral-3, 20%),
    accent: invert($bg-color)
    );
@function color($color-name){
    @return map-get($color, $color-name)
}
@mixin tablet{
    @media (min-width: #{$tablet}) {
        @content;
    }
}
body{
    height: 100vh;
    #bg{
        
            width: 100vw;
            height: 100vh;
            background-color: color(primary-light);
            clip-path: polygon(100% 0, 100% 78%, 36% 100%, 0 100%, 0 0);
            box-shadow:  17px 10px 21px 0px  rgba($color: #000000, $alpha: 0.8);
            position: absolute;
            @include tablet {
                clip-path: polygon(50% 0%, 91% 0, 74% 100%, 50% 100%, 0 100%, 0 0);
              }
        }
        header {
            a{
            display: block;
            padding: $padding;
            color: $bg-color;
            text-decoration: none;
            text-transform: uppercase;
            }
        }
        main{
            @include tablet {
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-areas: "primary card";
              }
            #card{
                background-color: rgba($color: white, $alpha: 1.0);
                background-color: $coral-1;
                padding: $padding;
                margin: $margin auto;
                border-radius: $border;
                box-shadow: 0 10px 30px rgba($color: #000000, $alpha: 0.2);
                width: 80vw;
                @include tablet {
                    width: 80%;
                    grid-area: card;
                    align-self: center;
                    margin: 1em;
                  }
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                li{
                    display: flex;
                    align-items: center;
                    margin-bottom: $margin/2 0;
                    span{
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        background-color: $coral-4;
                        border-radius: 50%;
                        margin-right: $margin/2;
                    }
                    strong{
                        display: inline-block;
                        margin-left: $margin*3 ;
                        margin-top: $margin;
                    }
                }
            }
            }
            #primary{
                color: white;
                padding: $padding;
                text-align: center;
                @include tablet {
                    grid-area: primary;
                    align-self: center;
                    margin: 3em 0 0 3em;
                }
                h1{
                    font-size: 45pt;
                    text-transform: capitalize;
                    margin: $margin 0 ;
                    @include tablet {
                       width: 30%;
                       font-size: 4em;
                       line-height: 1em;
                    }
                }
                p{
                    text-transform: uppercase;
                    margin-bottom: $margin*2;
                }
                a{
                    text-decoration: none;
                    color:color(primary-dark);
                    background-color: $coral-5;
                    border-radius: $border;
                    text-transform: uppercase;
                    display: block;
                    margin: $margin*3 auto 0 auto;
                    text-align: center;
                    padding: $padding;
                    @include tablet {
                        display: inline-block;
                        padding: $padding $padding*4;
                     }
                    &:hover{
                        color: $bg-color;
                    }
                }
            }
            
        }
}