*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
}

h1{
    margin: 1.5em;
    font-size: xx-large;
}

body{
    background-color:#80cbc4;
    font-family: 'Courier New', Courier, monospace;
}

input[type="text"]{
    text-align: end;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    font-size: 1.5em;
}
main section:nth-child(-n+2) input{
    font-size: large;
    border-radius: .3em;
    padding: .6em;
}
main section:nth-child(n+3){
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}
main section:nth-child(3) button{
    width: 21%;
    height: 2rem;
    border-radius: .6rem;
    box-shadow: .1rem .2rem rgba(0, 0, 0, .5);
}

main section:nth-child(4) span{
    font-size: 3rem;
    font-weight: 600;
}