<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
  <title>Vue CDN</title>
</head>

<body>
  <a onclick="window.history.back()">Go back</a>

  <section id="root">
    <h3>Hello World {{message}}</h3>
  </section>

  <script>
    const app = new Vue({
      el: '#root',
      data: {
        message: 'Vue'
      }
    })
  </script>

</body>

</html>