<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
  <title>Vue if</title>
</head>

<body>
  <a onclick="window.history.back()">Go back</a>

  <section id="root">
    <h3>Vue if</h3>
    <p v-if='areYouNewInVue'>learning vue</p>
    <p v-else>mastering vue</p>
    <button v-if='state'>Logout</button>
    <button v-else>Login</button>
  </section>

  <script>
    const app = new Vue({
      el: '#root',
      data: {
        areYouNewInVue: false,
        state: true
      }
    })
  </script>

</body>

</html>