<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css">
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
  <title>Vue for</title>
</head>

<body>
  <a onclick="window.history.back()">Go back</a>

  <section id="root">
    <h3>Vue for</h3>
    <ul>
      <li v-for='(vueTech, indice) in vueEcosystem'>
        <vue-tech :id='vueTech.id' :tech='vueTech.tech'></vue-tech>
      </li>
    </ul>
  </section>

  <script>
    Vue.component('vue-tech',{
      props: ['id', 'tech'],
      template: `
      <div>{{id}} - {{tech}} is a Vue tech</div>
      `
    })
    const app = new Vue({
      el: '#root',
      data: {
        vueEcosystem: [
          { id: 1, tech: 'vue cli' },
          { id: 2, tech: 'vue devtools' },
          { id: 3, tech: 'vue loader' },
          { id: 4, tech: 'vue router' },
          { id: 5, tech: 'vue (state management' },
          { id: 6, tech: 'vue server side render' }
        ]
      }
    })
  </script>

</body>

</html>