<template>
  <section>
    <section class="contenido">
      <div class="ajustar">

        <ul class="list" v-for="post in posts" v-bind:key="post.id">
          <post-item v-bind:post="post" />
        </ul>
      </div>
    </section>
  </section>
</template>

<script>
  import PostItem from "./PostItem.vue";
  export default {
    name: "PostList",
    props: ["posts"],
    components: {
      PostItem
    },
  };
</script>

<style>
  .contenido {
    display: flex;
    justify-content: center;

  }
  .ajustar{
    width: 50%;
   
  }
  .list {
    list-style: none;
    text-align: justify;
  }
 
  @media (max-width: 749px) {
    .ajustar{
      width: 100%;
    }
  }
</style>