<template>
<li class="listado">
     <!-- <p>userId: {{ post.userId }}</p>
    <p>id: {{ post.id }}</p> -->
    <h3>{{ post.title }}</h3>
    <p>{{ post.body }}</p>
    </li>
</template>

<script>
    export default {
        name: 'PostItem',
        props: ["post"]
    }
</script>

<style>
.listado{
    border-bottom: 1px solid #555;
}

</style>